# `{{name}}`
**Documentation of `{{file.path}}`.**

{{{natspec.title}}}
{{{natspec.userdoc}}}
{{{natspec.devdoc}}}

## TABLE OF CONTENTS
{{#if events}}
- [Events](#events)
{{#events}}
    - [`{{name}}`](#{{anchor}}) {{#if (ne contract.name ../name)}}(inherited){{/if}}
{{/events}}
{{/if}}

{{#if functions}}
- [Public Functions](#public-functions)
{{#functions}}
{{#if (or (eq visibility "public") (eq visibility "external"))}}
    - [`{{name}}`](#{{anchor}}) {{#if (ne contract.name ../name)}}(inherited){{/if}}
{{/if}}
{{/functions}}
{{/if}}

{{#if functions}}
- [Internal Functions](#internal-functions)
{{#functions}}
{{#if (or (eq visibility "internal"))}}
    - [`{{name}}`](#{{anchor}}) {{#if (ne contract.name ../name)}}(inherited){{/if}}
{{/if}}
{{/functions}}
{{/if}}


{{#if privateFunctions}}
- [Private Functions](#private-functions)
{{#privateFunctions}}
    - [`{{name}}`](#{{anchor}})
{{/privateFunctions}}
{{/if}}

{{#if modifiers}}
- [Modifiers](#modifiers)
{{#modifiers}}
    - [`{{name}}`](#{{anchor}}) {{#if (ne contract.name ../name)}}(inherited){{/if}}
{{/modifiers}}
{{/if}}

{{#if structs}}
- [Structs](#structs)
{{#structs}}
    - [`{{name}}`](#{{anchor}}) {{#if (ne contract.name ../name)}}(inherited){{/if}}
{{/structs}}
{{/if}}

{{#if enums}}
- [Enums](#enums)
{{#enums}}
    - [`{{name}}`](#{{anchor}}) {{#if (ne contract.name ../name)}}(inherited){{/if}}
{{/enums}}
{{/if}}


{{#if events}}
## EVENTS
{{#each events}}

### `{{name}}({{args}})` {{#if (ne contract.name ../name)}}(inherited){{/if}} <a name="{{anchor}}" id="{{anchor}}"></a>
{{{natspec.userdoc}}}
{{{natspec.devdoc}}}

{{#if natspec.params}}
Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}

{{#if (ne contract.name ../name)}}
_Inherited from `{{contract.file.path}}`_.
{{/if}}

{{/each}}
{{/if}}


{{#if functions}}
## PUBLIC FUNCTIONS
{{#each functions}}
{{#if (or (eq visibility "public") (eq visibility "external"))}}

### `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}}) {{#if (ne contract.name ../name)}}(inherited){{/if}}<a name="{{anchor}}" id="{{anchor}}"></a>
{{{natspec.userdoc}}}
{{{natspec.devdoc}}}

{{#if natspec.params}}
Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}

{{#if (ne contract.name ../name)}}
_Inherited from `{{contract.file.path}}`_.
{{/if}}

{{/if}}
{{/each}}
{{/if}}

{{#if functions}}
## INTERNAL FUNCTIONS
{{#each functions}}
{{#if (or (eq visibility "internal"))}}

### `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}}) {{#if (ne contract.name ../name)}}(inherited){{/if}} <a name="{{anchor}}" id="{{anchor}}"></a>
{{{natspec.userdoc}}}
{{{natspec.devdoc}}}

{{#if natspec.params}}
Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}

{{#if (ne contract.name ../name)}}
_Inherited from `{{contract.file.path}}`_.
{{/if}}

{{/if}}
{{/each}}
{{/if}}

{{#if privateFunctions}}
## PRIVATE FUNCTIONS
{{#each privateFunctions}}
### `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}}) <a name="{{anchor}}" id="{{anchor}}"></a>
{{{natspec.userdoc}}}
{{{natspec.devdoc}}}

{{#if natspec.params}}
Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}

{{/each}}
{{/if}}

{{#if modifiers}}
## MODIFIERS
{{#each modifiers}}

### `{{name}}({{args}})` {{#if (ne contract.name ../name)}}(inherited){{/if}} <a name="{{anchor}}" id="{{anchor}}"></a>

{{{natspec.userdoc}}}
{{{natspec.devdoc}}}

{{#if natspec.params}}
Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}

{{#if (ne contract.name ../name)}}
_Inherited from `{{contract.file.path}}`_.
{{/if}}

{{/each}}
{{/if}}

{{#if structs}}
## STRUCTS
{{#each structs}}

### `{{name}}` {{#if (ne contract.name ../name)}}(inherited){{/if}} <a name="{{anchor}}" id="{{anchor}}"></a>
{{#each members}}
- {{type}} {{name}}
{{/each}}

{{#if (ne contract.name ../name)}}
_Inherited from `{{contract.file.path}}`_.
{{/if}}

{{/each}}
{{/if}}

{{#if enums}}
## ENUMS
{{#each enums}}

### `{{name}}` {{#if (ne contract.name ../name)}}(inherited){{/if}} <a name="{{anchor}}" id="{{anchor}}"></a>
{{#each members}}
{{name}}
{{/each}}

{{#if (ne contract.name ../name)}}
_Inherited from `{{contract.file.path}}`_.
{{/if}}

{{/each}}
{{/if}}
