# `{{name}}`
{{{natspec.title}}}
{{{natspec.userdoc}}}
{{{natspec.devdoc}}}

**Table of Contents**
{{#if ownEvents}}
- [EVENTS](#events)
{{#ownEvents}}
    - [`{{name}}`](#{{anchor}})
{{/ownEvents}}
{{/if}}

{{#if ownFunctions}}
- [PUBLIC FUNCTIONS](#public-functions)
{{#ownFunctions}}
{{#if (or (eq visibility "public") (eq visibility "external"))}}
    - [`{{name}}`](#{{anchor}})
{{/if}}
{{/ownFunctions}}
{{/if}}

- [PRIVATE FUNCTIONS](#private-functions)
{{#ownFunctions}}
{{#if (or (eq visibility "internal") (eq visibility "private"))}}
    - [`{{name}}`](#{{anchor}})
{{/if}}
{{/ownFunctions}}

{{#if ownModifiers}}
- [MODIFIERS](#modifiers)
{{#ownModifiers}}
    - [`{{name}}`](#{{anchor}})
{{/ownModifiers}}
{{/if}}

{{#if ownStructs}}
- [STRUCTS](#structs)
{{#ownStructs}}
    - [`{{name}}`](#{{anchor}})
{{/ownStructs}}
{{/if}}

{{#if ownEnums}}
- [ENUMS](#enums)
{{#ownEnums}}
    - [`{{name}}`](#{{anchor}})
{{/ownEnums}}
{{/if}}


{{#if ownEvents}}
## EVENTS
{{#each ownEvents}}

### `{{name}}({{args}})` <span id="{{anchor}}"></span>
{{{natspec.userdoc}}}
{{{natspec.devdoc}}}
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/each}}
{{/if}}


{{#if ownFunctions}}
## PUBLIC FUNCTIONS
{{#each ownFunctions}}
{{#if (or (eq visibility "public") (eq visibility "external"))}}

### `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}}) <span id="{{anchor}}"></span>
{{{natspec.userdoc}}}
{{{natspec.devdoc}}}
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}
{{/each}}
{{/if}}

{{#if ownFunctions}}
## PRIVATE FUNCTIONS
{{#each ownFunctions}}
{{#if (or (eq visibility "internal") (eq visibility "private"))}}
### `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}}) <span id="{{anchor}}"></span>
{{{natspec.userdoc}}}
{{{natspec.devdoc}}}
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}
{{/each}}
{{/if}}

{{#if ownModifiers}}
## MODIFIERS
{{#each ownModifiers}}

### `{{name}}({{args}})` <span id="{{anchor}}"></span>

{{{natspec.userdoc}}}
{{{natspec.devdoc}}}
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/each}}
{{/if}}

{{#if ownStructs}}
## STRUCTS
{{#each ownStructs}}

### `{{name}}` <span id="{{anchor}}"></span>
{{#each members}}
- {{type}} {{name}}
{{/each}}
{{/each}}
{{/if}}

{{#if ownEnums}}
## ENUMS
{{#each ownEnums}}

### `{{name}}` <span id="{{anchor}}"></span>
{{#each members}}
{{name}}
{{/each}}
{{/each}}
{{/if}}
